* { 
     margin:0;
     padding:0 ; 
     box-sizing: border-box;
}
html,Body {
     width:100%;
     height:100%;
}
#main>video{
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
      
}
#signup {
      max-width: 25svw;
      min-height: 30svh;
      backdrop-filter: blur(4px);
      border: 4px solid white;
      transform: translate(37svw,20svh);
}

&>#email{
      color: black;
}